*{
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #626262;
    text-decoration: none;
}
header{
    
    height: 48px;
    background-image:url(../images/pngtree-shattered-glass-abstract-art-image_16317649.jpg);
    background-repeat: repeat-x;
}

.search_box{

}
nav{
    height: 65px;
}
header>.container, nav>.container, section>.container, footer>.container{
    max-width: 2000px;
    margin: auto;
    height: 100%;
    min-width: 1100px;
    display: flex;
}
.logo_box{
    height: 100%;
    width: 20%;
}
.logo_box>a{
    display: inline-flex;
    height: 100%;
}
.logo{
    height: 80%;
    padding: 4.8px 25px;
    border-radius: 50%;
}
.search_box{
    width: 50%;
    height: 100%;
}
.search_box>.container{
    background-color: rgb(50,50,50,0.4);
    width: 50%;
    height: 33px;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 8px;
    border-radius: 33px;
}
.search_box>.container>form{
    display: inline-flex;
    padding: 5px 12px;
    width: 100%;
}
.search_box>.container>form>input{
    background-color: #0000;
    width: 80%;
    border: none;
    color: aliceblue;
    padding: 0px 5px;
}
